* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	font-size: calc(16px + 6 * ((100vw - 320px) / 1900));
  height: 100%;
  background: $color-black;
}

body {
	margin: 0;
  padding: 0;
  color: $color-text;
  background: $color-background;

  font-family: $sans-serif;
}

section {
  padding: 0 1rem;

  &.background {
    background: $color-gray;
    padding: 2rem 1rem;
  }

  p:last-child {
    margin-bottom: 4rem;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  max-width: $width-s;
  margin: 0 auto 1.6rem;
  line-height: 1.13;
}

h1 {
  font-size: 4rem;
  margin-top: 3rem;
  max-width: $width-m;
}

h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.8rem;
  margin-top: 3rem;
}

p {
  max-width: $width-s;
  margin: 0 auto 2rem;
  line-height: 1.6;

  font-family: $serif;

  &.lead {
    font-size: 1.4rem;
    max-width: $width-m;
    margin-bottom: 4rem;
  }
}

ul {
  max-width: $width-s;
  margin: 0 auto 2rem;
  padding: 0 0 0 1rem;
  line-height: 1.46;
  font-family: $serif;

  li {
    margin-bottom: 0.5rem;
  }
}

.facts {
  max-width: $width-s;
  margin: 0 auto;
  font-size: 0.9rem;

  &-inner {
    margin: 0 -2rem;
    padding: 2rem 2rem;
    background: $color-gray;
  }

  h3 {
    margin-top: 0;
    font-size: 1.4rem;
  }
}

.people {
  h3 {
    max-width: $width-l;
  }
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: $width-l;
  }

  li {
    width: 28%;
  }

  img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .bio {
    font-size: 0.8rem;
  }
}

.download {
  width: $width-s;
  margin: 4rem auto;

  .inner {
    padding: 1rem 2rem;
    margin: 0 -2rem;
    border: 1px solid $color-black;
    cursor: pointer;
  }

}