$serif: georgia, serif;
$sans-serif: arial, monospace;

$font-xs: 0.68rem;
$font-s: 0.8rem;

$color-white: #fff;
$color-black: #000;
$color-red: #e2231a;
$color-gray: #dedede;

$color-theme: #2bcc6e;
$color-theme: #0966d1;
$color-theme-dark: $color-black;

$color-background: $color-white;
$color-text: $color-black;

$width-xxs: 18rem;
$width-xs: 24rem;
$width-s: 33rem;
$width-m: 44rem;
$width-l: 48rem;
$width-xl: 56rem;

$media-s: 700px;
$media-m: 900px;